.about-section {
  color: #000;
  background-image: url(images/wood.jpg);
  background-size: cover;
&__section-content {
  margin: 0 100px;
  padding: 20px;
  font-size: 1.75rem;
  background-image: url(images/paper.png);
  border: 2px solid #000;
  }

&__who-section {
  padding-top: 115px;
  height: 450px;
}

&__what-section {
padding-top: 40px;
}

&__why-section {
  padding-top: 32px;
}

&__about-title {
  font-size: 3.75rem;
  text-align: center;
  color: $mainRed;
  font-weight: 700;
}

&__image-container {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
}

&__image {
padding-right: 10px;
}

&__description-section {
  line-height: 1.7;
}

&__bullet-point {}

&__arrow {
  padding-top: 10px;
  padding-left: 40px;
  float: left;
}

&__description {
  font-size: 1.75rem;
  float: left;
  padding-left: 10px;
  box-sizing: border-box;
  width: 90%;
}

&--translate-left{
  padding-left: 175px;
}
}
