.about-section {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  background-color: #FFF;
  padding: 30px 10px;
&__section-title {
  font-size: 1.75rem;
  background-color: $mainRed;
  width: 150px;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  border: 1px solid #000;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  }
&__section-content {
  padding: 20px 40px;
  font-size: 1.75rem;
  background-color: $mainRed;
  border: 2px solid #000;
  }

&__image-container {
  width: 20%;
}

&__image {
padding-right: 10px;
}

&__description-section {
  width: 80%;
}

&__arrow {
  padding-left: 40px;
  float: left;
}

&__description {
  float: left;
  padding-left: 10px;
  box-sizing: border-box;
  width: 80%;
  margin-bottom: 30px;
}

&__block-quote {
  color: #000;
  padding-top: 20px;
  justify-content: center;
  }

&__block-quote-text {
  font-size: 1.975rem;
  text-align: center;
  font-weight: 700;
  width: 33%;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding: 10px 0;
  margin: 20px;
  }
}
