.large-hero {
  background-image: url(images/opera-stage.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;

&__header {
  background-color: rgba(91, 91, 91, .6);
  height: 95px;
  margin-bottom: 80px;
}

&__image {
    float: left;
}

&__image-file {
  padding: 10px 40px;
  height: 120px;
  width: 120px;
}

&__title {
  padding-top: 20px;
  float: left;
  transform: translateX(49%);
  font-weight: 900;
  font-size: 3.2rem;
}
  &__title--red {
    color: #c43c42;
    font-weight: 900;
  }


&__subtitle {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 170px;
  margin-bottom: 50px;
}

&__link {
  text-align: center;
}

}
