.large-hero {
  background-image: url(images/opera-stage.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;

&__header {
  background-color: rgba(91, 91, 91, .6);
  height: 95px;
  margin-bottom: 140px;
  display: flex;
  flex-wrap: wrap;
}

&__image {
    width: 25%;
    text-align: center;
}

&__image-file {
  padding: 10px 0;
  height: 120px;
  width: 120px;
}

&__title {
  padding-top: 20px;
  box-sizing: border-box;
  width: 50%;
  font-weight: 900;
  font-size: 3.2rem;
  text-align: center;
}
  &__title--red {
    color: $mainRed;
    font-weight: 900;
  }


&__subtitle {
  text-align: center;
  font-size: 2.3rem;

&--smaller {
  margin-top: 110px;
  text-align: center;
}

}



}
